<body class="Error">
<div class="text-center">
<h3 >La respuesta ingresada es incorrecta, Perdiste</h3>
<div class="imgE"><img src =https://eloutput.com/app/uploads-eloutput.com/2019/11/rick-y-morty-muerto.jpg></div>
<p></p>
<a class="btn btn-light"  href='@Url.Action("Comenzar")'> Volver a Empezar </a>
</div>
</body>