@{
    ViewData["Title"] = "Habitacion 3";
}
<Body class="Habitacion1">
<div class="text-center">
<h1>@ViewData["Title"]</h1>
<p> ¿Como se llama la television en la que estan viendo los programas? </p>
<div class="video">
<iframe width="560" height="315" src="https://www.youtube.com/embed/GCPNZt2Ri4Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<form method= "post" action='@Url.Action("Habitacion")'>
<input type= "text" name = "clave" required>
<input type="submit" value="Validar">
<input type="hidden" name="Sala" value=3>
</form>

 <button onclick="alert('Pista 1: Es una television que tiene programas de muchas dimensiones')">Pista</button>
 
  <div>
  </body>