@{
    ViewData["Title"] = "Tutorial";
}
<body class= "tutorial">
<h1 class="text-align: center": center>@ViewData["Title"]</h1>
<div class="text-align: center">
<p>Si estas aqui es porque como yo heres un apacionado sobre la trama que lleva la serie de Rick & Morty, tendras que ir de habitacion en habitacion resolviendo diferentes preguntas/acertijos, los cuales seran faciles si realmente eres un digno fan de esta obra de arte que es la serie. Se te brindará una frase y una foto con la cual deberás descubrir la respuesta correcta, si fallas tendrás que volver a iniciar desde el principio. </p>
</div>
</body>