@{
    ViewData["Title"] = "Victoria";
}
<body class="victoria">
<div class="text-center">
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="animate-charcter"> VICTORIA</h3>
    </div>
  </div>
</div>
<p>  Felicidades! Lograste pasar la sala de Rick & Morty</p>
<p>Espero que te hayas divertido</p>
<a class="btn btn-primary"  href='@Url.Action("Index")'> Volver a la pagina principal </a>
</div>

</body>